<section id="apartments">
  <div class="container">
    <!-- create -->
    <div class="d-flex flex-row-reverse my-2">
      <button *requiredRole="'APARTMENT_CREATE'" type="button" class="btn btn-primary"
        (click)="openCreate(createModal)">
        <i class="bi bi-person-plus-fill"></i> Create
      </button>
    </div>
    <!-- list -->
    <div class="card">
      <div class="card-body">
        <form autocomplete="off" [formGroup]="searchForm">
          <div class="d-flex justify-content-between">
            <!-- page size -->
            <div class="row flex-fill mb-3">
              <label for="selectPageSize" class="col-sm-5 col-md-3 col-form-label">Show</label>
              <div class="col-sm-7 col-md-9">
                <select id="selectPageSize" class="form-select" aria-label="Select page size" style="width: 5rem;"
                  formControlName="pageSize">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <!-- search -->
            <div class="row flex-fill mb-3">
              <label for="search" class="col-sm-3 col-md-2 col-form-label">Search</label>
              <div class="col-sm-9 col-md-10">
                <input id="search" class="form-control" type="text" placeholder="Enter apartment name"
                  aria-label="apartment name" formControlName="name">
              </div>
            </div>
          </div>
          <!-- users table -->
          <div class="table-responsive">
            <table class="table table-hover" [ngClass]="{'table-striped': !isLoading}">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Created On</th>
                  <th scope="col">Modified On</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!isLoading else loading;">
                  <ng-container *ngIf="apartments.length > 0 else noApartments;">
                    <tr
                      *ngFor="let i = index; let apartment of apartments | slice: (page-1) * pageSize : page * pageSize" >
                      <td>
                        {{findPosition(i, page, pageSize)}}
                      </td>
                      <td>
                        <span *ngIf="apartment?.name; else noData;">
                          {{ apartment?.name| titlecase }}
                        </span>
                      <td>
                        <span *ngIf="apartment?.createdOn; else noData;">
                          {{ apartment?.createdOn | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="apartment?.modifiedOn; else noData;">
                          {{ apartment?.modifiedOn | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <!-- edit -->
                          <button *requiredRole="'APARTMENT_UPDATE'" type="button"
                            class="btn btn-action btn-outline-info" style="margin-right: .5rem;"
                            (click)="openEdit(apartment, updateForm, updateModal)">
                            <i class="bi bi-pencil-square"></i>
                          </button>
                          <!-- delete -->
                          <button *requiredRole="'APARTMENT_DELETE'" type="button"
                            class="btn btn-action btn-outline-danger" style="margin-right: .5rem;"
                            (click)="openDelete(apartment, deleteModal)">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="apartments.length"></ngb-pagination>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<ng-template #noData>
  ---
</ng-template>

<ng-template #noApartments>
  <tr>
    <td colspan="11">
      <span style="font-style: italic; padding: 0.25rem 0.25rem; color: red;">
        No apartments have been found.
      </span>
    </td>
  </tr>
</ng-template>

<ng-template #loading>
  <tr>
    <td colspan="11">
      <div class="lds-roller" style="position: relative; left: 50%;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #createModal let-modal>
  <form [formGroup]="createForm" (ngSubmit)="create(createForm, modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Apartment create</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="close(createForm, modal)"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="name" class="form-label">Apartment name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter apartment name"
          [class.is-invalid]="isNameInvalid || isNamePatternInvalid || isNameMinLengthInvalid || isNameMaxLengthInvalid">
      </div>
      <!-- error -->
      <ng-container *ngIf="isNameInvalid || isNamePatternInvalid || isNameMinLengthInvalid || isNameMaxLengthInvalid">
        <small class="form-text text-danger float-left" *ngIf="isNameInvalid">
          Apartment name is required.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isNamePatternInvalid">
          Only alphabets and space is allowed.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isNameMinLengthInvalid">
          Minimum length of 5 characters is allowed.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isNameMaxLengthInvalid">
          Maximum length of 50 characters is allowed.
        </small>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success"
        [disabled]="!createForm.valid || isSubmitting">
        <span>Create</span>
        <ng-container *ngIf="isSubmitting">
          <span class="clearfix" style="margin-left: .75rem; width: 2rem; height: 2rem;">
            <div class="spinner-border float-end" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #updateModal let-modal>
  <form [formGroup]="updateForm" (ngSubmit)="update(updateForm, modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Apartment update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="close(updateForm, modal)"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="name" class="form-label">Apartment name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter apartment name"
          [class.is-invalid]="isUpdateNameInvalid || isUpdateNamePatternInvalid || isUpdateNameMinLengthInvalid || isUpdateNameMaxLengthInvalid">
      </div>
      <!-- error -->
      <ng-container *ngIf="isUpdateNameInvalid || isUpdateNamePatternInvalid || isUpdateNameMinLengthInvalid || isUpdateNameMaxLengthInvalid">
        <small class="form-text text-danger float-left" *ngIf="isUpdateNameInvalid">
          Apartment name is required.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isUpdateNamePatternInvalid">
          Only alphabets and space is allowed.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isUpdateNameMinLengthInvalid">
          Minimum length of 5 characters is allowed.
        </small>
        <small class="form-text text-danger float-left" *ngIf="isUpdateNameMaxLengthInvalid">
          Maximum length of 50 characters is allowed.
        </small>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success"
        [disabled]="!updateForm.valid || isSubmitting">
        <span>Update</span>
        <ng-container *ngIf="isSubmitting">
          <span class="clearfix" style="margin-left: .75rem; width: 2rem; height: 2rem;">
            <div class="spinner-border float-end" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User delete</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDelete(apartment, modal)"></button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete {{apartment.name}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success"
      [disabled]="!apartment|| isSubmitting" (click)="delete(apartment, modal)">
      <span>Delete</span>
      <ng-container *ngIf="isSubmitting">
        <span class="clearfix" style="margin-left: .75rem; width: 2rem; height: 2rem;">
          <div class="spinner-border float-end" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </span>
      </ng-container>
    </button>
  </div>
</ng-template>
