<section id="open">
  <div class="container my-auto mx-auto">
    <div class="card shadow rounded">
      <div class="card-header">
        <h3 class="section-heading">
          QWANGU RENT MANAGEMENT SYSTEM
        </h3>
      </div>

      <div class="card-body section-description">
        <div class="row">
          <!-- description -->
          <div class="col-sm-12 col-md-5 col-lg-6 my-auto">
            <p class="text-center mb-5 mt-4">
              Promote your business and engage your clients through our marketing
              and promotion App
            </p>
            <ul class="text-left d-none d-sm-block ">
              <li>Engage and inform potential and existing clients about your business</li>
              <li>Reach out to potential and existing clients all over east africa</li>
              <li>Create sms sales and marketing campaigns</li>
              <li>Schedule promotions and marketing campaigns</li>
              <li>Easily manage client contacts distributed in east africa</li>
            </ul>
            <hr class="d-none d-sm-none">
          </div>
          <!-- sign in -->
          <div class="col-sm-12 col-md-7 col-lg-6 my-auto">
            <h4 class="text-center mb-3 sign-in"><strong>Sign in</strong></h4>
            <form class="mx-4 mb-3" [formGroup]="form" (ngSubmit)="signIn(form)" autocomplete="off">
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text" id="emailIcon">
                    <i class="bi bi-envelope-fill"></i>
                  </span>
                  <input type="email" [class.is-invalid]="_util.isEmailInvalid(form, 'email')" class="form-control" formControlName="email"
                    placeholder="Email address" aria-label="Email address" aria-describedby="emailIcon">
                </div>
                <small class="form-text text-danger float-left" *ngIf="_util.isEmailInvalid(form, 'email')">
                  <span *ngIf="_util.isInValid(form, 'email', 'required')">Please enter your email address.</span>
                  <span *ngIf="_util.isInValid(form, 'email', 'email')">Please enter a valid email address.</span>
                </small>
              </div>
              <div class="form-group mb-3">
                <div class="input-group">
                  <span class="input-group-text" id="passwordIcon">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                  <input type="password" [class.is-invalid]="_util.isRequiredInvalid(form, 'password')" class="form-control"
                    formControlName="password" placeholder="Password" aria-label="Password"
                    aria-describedby="passwordIcon">
                </div>
                <small class="form-text text-danger float-left" *ngIf="_util.isRequiredInvalid(form, 'password')">
                  Please enter your password.
                </small>
              </div>
              <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid || isSigningIn">
                <div class="submit-content">
                  <span>Sign in</span>
                  <ng-container *ngIf="isSigningIn">
                    <span class="clearfix" style="margin-left: .75rem; width: 2rem; height: 2rem;">
                      <div class="spinner-border float-end" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </span>
                  </ng-container>
                </div>
              </button>
            </form>
            <div class="text-center">Forgot Password?
              <a class="forgot-password" routerLink="/reset">
                Reset
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">© 2018-2021</div>
    </div>
  </div>
</section>
