<section id="occupations">
  <div class="container">
    <!-- create -->
    <div class="d-flex flex-row-reverse my-2">
      <button type="button" class="btn btn-primary" (click)="openCreate(createModal)">
        <i class="bi bi-person-plus-fill"></i> Create
      </button>
    </div>
    <!-- list -->
    <div class="card">
      <div class="card-body">
        <form autocomplete="off" [formGroup]="searchForm">
          <div class="d-flex justify-content-between">
            <!-- page size -->
            <div class="row flex-fill mb-3">
              <label for="selectPageSize" class="col-xl-3 col-form-label">Show</label>
              <div class="col-xl-9">
                <select id="selectPageSize" class="form-select" aria-label="Select page size" style="width: 5rem;"
                  formControlName="pageSize">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <!-- search -->
            <div class="row flex-fill mb-3">
              <label for="search" class="col-sm-3 col-md-2 col-form-label">Search</label>
              <div class="col-sm-9 col-md-10">
                <div class="input-group">
                  <select class="form-select form-select-sm" formControlName="status" aria-label="statuses"
                    aria-describedby="status">
                    <option value="">--- Choose Status ---</option>
                    <option value="PENDING_OCCUPATION">PENDING OCCUPATION</option>
                    <option value="CURRENT">CURRENT</option>
                    <option value="PENDING_VACATING">PENDING VACATING</option>
                    <option value="VACATED">VACATED</option>
                  </select>
                  <input formControlName="occupationNo" class="form-control" type="text"
                    placeholder="Enter occupation number" aria-label="occupationNo">
                </div>
              </div>
            </div>
          </div>
          <!-- users table -->
          <div class="table-responsive">
            <table class="table table-hover" [ngClass]="{'table-striped': !isLoading}">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tenant</th>
                  <th scope="col">Unit</th>
                  <th scope="col">Status</th>
                  <th scope="col">Started On</th>
                  <th scope="col">Ended On</th>
                  <th scope="col">Created On</th>
                  <th scope="col">Modified On</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!isLoading else loading;">
                  <ng-container *ngIf="occupations.length > 0 else noUsers;">
                    <tr
                      *ngFor=" let i = index; let occupation of occupations | slice: (page-1) * pageSize : page * pageSize">
                      <td>{{ i + 1 }}.</td>
                      <td>
                        <span *ngIf="occupation?.tenantId; else noData;">
                          {{ occupation?.tenantId| titlecase }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.unitId; else noData;">
                          {{ occupation?.unitId| titlecase }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.status; else noData;">
                          {{ occupation?.status| titlecase }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.startDate; else noData;">
                          {{ occupation?.startDate | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.endDate; else noData;">
                          {{ occupation?.endDate | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.createdOn; else noData;">
                          {{ occupation?.createdOn | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <span *ngIf="occupation?.modifiedOn; else noData;">
                          {{ occupation?.modifiedOn | date:'mediumDate' }}
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center justify-content-between">
                          <!-- edit -->
                          <button type="button" class="btn btn-action btn-outline-info"
                            (click)="openEdit(occupation.id, null)">
                            <i class="bi bi-pencil-square"></i>
                          </button>
                          <!-- delete -->
                          <button type="button" class="btn btn-action btn-outline-danger"
                            (click)="openDelete(occupation.id, null)">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
              [collectionSize]="occupations.length"></ngb-pagination>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template #noData>
  ---
</ng-template>

<ng-template #noUsers>
  <tr>
    <td colspan="11">
      <span style="font-style: italic; padding: 0.25rem 0.25rem; color: red;">
        No occupations have been found.
      </span>
    </td>
  </tr>
</ng-template>

<ng-template #loading>
  <tr>
    <td colspan="11">
      <div class="lds-roller" style="position: relative; left: 50%;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.firstName + ' ' + r.surname + '  |  ' +  r.mobileNumber + ' | ' +r.emailAddress"
    [term]="t"></ngb-highlight>
</ng-template>

<ng-template #paymentTemplate let-r="result" let-t="term">
  <ngb-highlight [result]="r.transactionId + '  |  ' +  r.mobileNumber + ' | ' +r.currency+ ' ' + r.amount"
    [term]="t"></ngb-highlight>
</ng-template>

<ng-template #createModal let-modal>
  <form [formGroup]="createForm" (ngSubmit)="create(createForm, modal)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Occupation create</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="close(createForm, modal)"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class=" col-sm-12 d-flex justify-content-center my-4">
          <div class="form-check form-check-inline">
            <input formControlName="tenantType" class="form-check-input" type="radio" name="tenantType" id="newTenant"
              value="0">
            <label class="form-check-label" for="newTenant">New Tenant</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="tenantType" class="form-check-input" type="radio" name="tenantType"
              id="existingTenant" value="1">
            <label class="form-check-label" for="existingTenant">Existing Tenant</label>
          </div>
        </div>
        <div *ngIf="createForm.get('tenantType')?.value == '1'" class="col-12 mb-2">
          <label for="tenant" class="form-label">Search tenant</label>
          <input formControlName="tenant" type="text" class="form-control" id="tenant" placeholder="Enter mobile number"
            [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt" (selectItem)="selected($event, createForm)">
        </div>
        <div class="col-12 mb-2">
          <label for="surname" class="form-label">Surname</label>
          <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="Enter surname">
        </div>
        <div class="col-6 mb-2">
          <label for="fname" class="form-label">First Name</label>
          <input formControlName="firstName" type="text" class="form-control" id="fname" placeholder="Enter first name">
        </div>
        <div class="col-6 mb-2">
          <label for="middleName" class="form-label">Middle Names</label>
          <input formControlName="middleName" type="text" class="form-control" id="middleName"
            placeholder="Enter middle names">
        </div>
        <div class="col-6 mb-2">
          <label for="mobileNo" class="form-label">Mobile No.</label>
          <input formControlName="mobileNumber" type="text" class="form-control" id="mobileNo"
            placeholder="Enter mobile number">
        </div>
        <div class="col-6 mb-2">
          <label for="emailAddress" class="form-label">Email Address</label>
          <input formControlName="emailAddress" type="text" class="form-control" id="emailAddress"
            placeholder="Enter email address">
        </div>
      </div>
      <div class="mb-2">
        <label for="apartmentId" class="form-label">Apartment</label>
        <select id="apartment" class="form-select form-select-sm" formControlName="apartmentId"
          aria-label="choose apartment" aria-describedby="apartmentIcon">
          <option value="">--- Choose Apartment ---</option>
          <ng-container *ngFor="let apartment of apartments">
            <option [value]="apartment.id">{{apartment.name| uppercase}}</option>
          </ng-container>
        </select>
      </div>
      <div class="mb-2">
        <label for="unit" class="form-label">Unit</label>
        <select id="unit" class="form-select form-select-sm" formControlName="unitId" aria-label="choose unit"
          aria-describedby="apartmentIcon">
          <option value="">--- Choose Unit ---</option>
          <ng-container *ngFor="let unit of units">
            <option [value]="unit.id">{{unit.floorNo}}{{unit.identifier}} | {{unit.noOfBedrooms}} Bedrooms |
              {{unit.currency}} {{unit.rentPerMonth | number}} per Month</option>
          </ng-container>
        </select>
      </div>
      <div class="col-12 mb-2">
        <label for="payment" class="form-label">Search payment</label>
        <input formControlName="payment" type="text" class="form-control" id="payment"
          placeholder="Enter transaction id" [ngbTypeahead]="searchPayment" [inputFormatter]="paymentFormatter"
          [resultTemplate]="paymentTemplate" (selectItem)="selectedPayment($event, createForm)">
      </div>
      <div class="col-12 mb-2">
        <label for="startDate" class="form-label">Start Date</label>
        <div class="input-group">
          <input id="startDate" formControlName="startedOn" [minDate]="minDate" class="form-control" placeholder="Select start date" name="dp" ngbDatepicker
            #d="ngbDatepicker" />
          <button class="btn btn-action btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button" style="border-radius: .1rem !important;
            border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;
            border-top-right-radius: .25rem !important; border-bottom-right-radius: .25rem !important;"></button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" [disabled]="isSubmitting">
        <span>Create</span>
        <ng-container *ngIf="isSubmitting">
          <span class="clearfix" style="margin-left: .75rem; width: 2rem; height: 2rem;">
            <div class="spinner-border float-end" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</ng-template>

